html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    flex: 0 0 auto;
    text-align: center;
}

main {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}

.newCurrency {
    display: block;
    margin: 0 auto;
    width: 30%;
}

form {
    height: 50%;
    border: 2px grey solid;
    box-shadow: 0 0 10px 1px;
}

span {
    display: inline-block;
    text-align: center;
    border-bottom: 1px #cecece solid;
    margin-left: 10px;
    width: 74px;
}

.field span {
    color: black;
}

div.field {
    padding-top: 21px;
    padding-left: 10px;
}

div.field label {
    display: block;
    float: left;
    width: 106px;
    height: 15px;
}

.exchangeRate {
    width: 50%;
    margin: 142px auto 0;
}

.editCurrency h4 {
    margin: 0 auto
}

ul li {
    display: inline;
    width: 300px;
    margin-left: 20px;
}

li label {
    font: 18pt Serif;
}

li input {
    margin-left: 10px;
}

#calculation {
    margin-left: 20px;
}

#operations {
    text-align: center;
    margin-top: 169px;
}
#links li{
    display: block;
}
.list-group li{
    width: 50%;
    margin: 0 auto;
}
.list-group li:hover{
    background-color: #007bff;
}
.list-group a{
    color: black;
}
.list-group a:active{
    color: black;
}
.list-group a:hover{
    color: black;
    text-decoration: none;
}
